@using CoaxysProjectTracker.Extensions
@using CoaxysProjectTracker.Models
@model List<Story>

@{
    ViewBag.Title = "Stories";
}

<h1>Stories</h1>

<ol class="breadcrumb">
    <li><a href="@Url.Action("index", "project")">Projets</a></li>
    <li><a href="@Url.Action("index", "epic")">Epics</a></li>
    <li class="active">Stories</li>
</ol>

@Html.Raw(TempData.GetMessages())

<div class="list list-project">
    <div class="row">
        <div class="col-md-4">
            <div class="list-item list-item-story new-story">
                <a href="@Url.Action("create", "story")" class="modal-form">
                    <h3>
                        <i class="glyphicon glyphicon-plus"></i>
                        New story
                    </h3>
                </a>
            </div>
        </div>
        @foreach (Story story in Model)
        {
            <div class="col-md-4">
                <div class="list-item list-item-project">
                    <h3>@story.Name</h3>
                    <p>@story.Description</p>
                    <p>
                        <a href="@Url.Action("index", "task")" class="btn btn-primary" role="button">Tâches</a>
                        <a href="@Url.Action("edit", "story", new { id = story.ID })" class="btn btn-primary modal-form" role="button">&Eacute;diter</a>
                    </p>
                </div>
            </div>
        }
    </div>
</div>