@using CoaxysProjectTracker.Models
@model List<Status>

@{
    ViewBag.Title = "Index";
}

<h2>Task Status History</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("index", "project")">Projets</a></li>
    <li><a href="@Url.Action("index", "epic")">Epics</a></li>
    <li><a href="@Url.Action("index", "Story")">Stories</a></li>
    <li><a href="@Url.Action("index", "task")">Tasks</a></li>

    <li class="active">Status</li>
</ol>

<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Status
        </th>

        <th>
            Comment
        </th>
        <th>
            Attachment
        </th>
        <th></th>

    </tr>

    @foreach (Status st in Model)
    {
        <tr>
            <td>
                22/03/2017
            </td>
            <td>
                @Html.DisplayFor(s => st.Type)
            </td>
            <td>
                @Html.DisplayFor(s => st.Comment)
            </td>
            <td>
                @Html.DisplayFor(s => st.Attachment)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to Tasks", "Index", "task")
</p>