@using CoaxysProjectTracker.Models
@model List<Task>

@{
    ViewBag.Title = "Tasks";
}

<h1>Tasks</h1>

<ol class="breadcrumb">
    <li><a href="@Url.Action("index", "project")">Projets</a></li>
    <li><a href="@Url.Action("index", "epic")">Epics</a></li>
    <li><a href="@Url.Action("index", "Story")">Stories</a></li>
    <li class="active">Tasks</li>
</ol>



<div class="list list-project">
    <div class="row">
        <div class="col-md-4">
            <div class="list-item list-item-project new-project">
                <a data-toggle="modal" data-target="#main-modal" href="@Url.Action("create", "task")">
                    <h3>
                        <i class="glyphicon glyphicon-plus"></i>
                        New Task
                    </h3>
                </a>
            </div>
        </div>
        @foreach (Task task in Model)
        {
            <div class="col-md-4">
                <div class="list-item list-item-project">
                    <h3>@task.Name</h3>
                    <p>@task.Description</p>
                    
                    <p>
                        <a href="@Url.Action("Details", "task")" class="btn btn-primary" role="button">Detail</a>
                        <a href="@Url.Action("index", "status", new { id = task.ID })" class="btn btn-primary" role="button">History</a>
                    </p>
                </div>
            </div>
        }
    </div>
</div>