@using CoaxysProjectTracker.Models
@model List<Task>

@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks List </h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("index", "project")">Projets</a></li>
    <li><a href="@Url.Action("index", "epic")">Epics</a></li>
    <li><a href="@Url.Action("index", "Story")">Stories</a></li>
    <li class="active">Tasks</li>
</ol>

<table class="table">
    <tr>
        <th>
            Entry Parameters
        </th>
        <th>
            Process
        </th>
        <th>
           Result
        </th>
        <th>
            Status
        </th>
        <th>
            Comment
        </th>
    </tr>

@foreach (Task task in Model)
{
    <tr>
        <td>
            @task.EntryParameter
        </td>
        <td>
            @task.Process
        </td>
        <td>
            @task.Result
        </td>
        <td>
            
                <button type="button" class="btn btn-success">OK</button>
                <button type="button" class="btn btn-danger">KO</button>
            
        </td>
        <td>
            Comment to Add
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit",new { id=task.ID })
            
        </td>
    </tr>    }

</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
